aiofiles>=22.1.0
aiohttp>=3.8.0
aiodns>=3.0.0
aria2p>=0.11.0
asyncio-throttle==1.0.2
charset-normalizer>=3.0.0
colorama>=0.4.6
colorlog==6.8.0
ffmpeg-python>=0.2.0
httpx>=0.24.0
humanize>=4.0.0
matplotlib==3.8.2
motor==3.3.2
Pillow>=10.0.0
psutil>=5.9.0
pymediainfo>=6.0.0
pymongo==4.6.0
pyrogram==2.0.106
pyromod>=1.5
python-dotenv==1.0.0
python-magic>=0.4.27
requests>=2.31.0
rich>=13.0.0
tenacity>=8.2.0
tgcrypto==1.2.5
uvloop>=0.17.0
yt-dlp>=2023.10.0
lxml-html-clean==0.4.1
html-telegraph-poster==0.5.0
telegraph==2.2.0
